body{
    width: 100%;
    margin: 0;
    padding:0;

    font-family: 'Merienda', cursive;
    background-image: url("../img/guitarra1.jpg");
    
    background-size: cover;
}

main{
    max-width: 980px;
    min-width: 375px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
}

header{
    background: #682444;
    color: white;
    padding: 3px 10px;
    height: 60px;
}
header h1{
    margin:3px;
}
header img{
    width: 140px;
}

h2{
    background-color: #682444;
    color: white;
    padding: 5px 10px;
    margin:0;
}

h3{
    color: #682444;
}

article{
    padding: 0 10px;
}

#fichas{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}


#fichas article{
    flex: 1 1 200px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

.invitado img{
    width:150px;
    border-radius: 50%;
}

.invitado p{
    margin: 5px;
}

.invitado p span{
    font-weight: bold;
}


footer{
    background-color: black;
    color: white;
    padding: 5px 10px;
}


